.card-m{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #cec5c5;
    padding: 20px;
  }
  .pd-120{
    padding: 120px 0;
  }
  .btn-success {
    color: #198754;
    background-color: #fff;
    border-color: #198754;
    font-size: 16px;
    padding: 8px 22px;
      padding-bottom: 8px;
    padding-bottom: 10px;
  }
  #userName{
    height: 45px;
  padding: 10px;
  }
  .div-topbar{
    display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  .error{
    border-color: red;
  }
  input:focus-visible,button:focus-visible{
    outline: unset;
  }
  .input-field{
    height: 38px;
    width: 100%;
    padding: 10px;
    outline: unset;
    border: 1px solid #f5f5f5;
  }
  .edit-Btn{
    border: 1px solid;
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0 auto;
  
  }
  tr{
    vertical-align: middle;
  }
  .delete-btn{
    border: 1px solid red;
  display: flex;
  align-items: center;
  color: red;
  width: fit-content;
  margin: 0 auto;
  }
  .new-grid{
    column-gap: 12px;
  grid-template-columns: auto auto;
  display: grid;
  }